{% extends "base.html" %}
{% block content %}

<div class="auth-container">
    <div class="auth-card">
        <h2>Welcome back!</h2>
        <p class="sub-text">
            Please enter your details to Login to your account
        </p>
        <form method="POST">
            <input type="email" name="email" placeholder="Enter your Email" required>
            <input type="password" name="password" placeholder="Enter your Password" required>
            <button type="submit">Login</button>
        </form>

        <div class="auth-links">
            <a href="/reset-password">Forgot Password?</a>
        </div>
        <p class="switch-auth">
            Don't have an account? <a href="/signup">Sign Up</a>
        </p>
    </div>
</div>


{% endblock %}