{% extends "base.html" %}
{% block content %}

<div class="auth-container">
    <div class="auth-card">
        <h2>Reset Password</h2>
        <p class="sub-text">
            Enter your email address to reset your password.
        </p>
        <form method="POST">
            <input type="email" name="email" placeholder="Enter your Email" required>
            <input type="password" name="new_password" placeholder="Enter New Password" required>
            <button type="submit">Reset Password</button>
        </form>

        <p class="switch-auth" style="margin-top: 24px;">
            Remembered your password? <a href="/login">Login</a>
        </p>
    </div>
</div>

{% endblock %}
