{% extends "base.html" %}

{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <h2>Create Account</h2>
        <p class="sub-text">
            Start Your career Journey
        </p>
        <form method="POST">
            <input type="text" name="name" placeholder="Enter your Full Name" required>
            <input type="email" name="email" placeholder="Enter your Email" required>
            <input type="password" name="password" placeholder="Create a Password" required>
            <p class="sub-text">Use atleast 6 Characters</p>
            <button type="submit">Create Account</button>
        </form>
        <p class="switch-auth">
            Already have an account? <a href="/login">Login</a>
        </p>
    </div>
</div>



{% endblock %}